.mat-dialog-content.dialog-container {
  padding: 20px;
  max-height: 100vh;
  overflow: hidden; /* Oculta el overflow */
  display: flex;
  flex-direction: column;
}

.dialog-form {
  flex: 1;
  overflow-y: auto;
  padding: 0 15px; /* Agrega padding en los costados */
  -ms-overflow-style: none;  /* Oculta el scrollbar en Internet Explorer 10+ */
  scrollbar-width: none;  /* Oculta el scrollbar en Firefox */
}

.dialog-form::-webkit-scrollbar {
  width: 0px; /* Oculta el scrollbar en Safari y Chrome */
}

label {
  color: #0385a5;
}

.mat-dialog-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

form .form-group {
  margin-bottom: 15px;
}

.btn-primary,
.btn-secondary,
.btn-remove,
.btn-danger {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.btn-primary {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.btn-secondary {
  background-color: #0385a5;
  border-color: #0385a5;
  color: #fff;
}

.btn-remove {
  background-color: #f92a2a;
  border-color: #ff0505;
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4,
.col-md-6,
.col-md-12 {
  padding-right: 15px;
  padding-left: 15px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.form-control,
select {
  border-radius: 15px;
}

h2 {
  background-color: #04abd5;
  color: white;
  padding: 10px;
}

h3 {
  color: #04abd5;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  border: none;
  border-top: 4px dotted #027387;
  margin: 10px 0 5px;
}

.btn-acciones {
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-container .btn {
  margin-right: 10px;
}
