/* Estilos generales para la tabla */
.table-hover {
  width: 100%;
  border-collapse: collapse;
}

/* Estilos para los encabezados de la tabla */
.table-hover thead tr {
  background-color: #04a1bd; /* Color de fondo azul */
  color: white; /* Texto en color blanco */
  vertical-align: middle; /* Alineación vertical al centro */
}

.table-hover thead th {
  text-align: center; /* Alineación horizontal al centro */
}

.table-hover td,
.table-hover th {
  padding: 15px; /* Ajusta este valor según tu preferencia */
}

/* Estilos para las celdas de la tabla */
.table-hover tbody tr {
  border-bottom: 1px solid #dad6d6; /* Borde inferior para cada fila */
  vertical-align: middle; /* Alineación vertical al centro */
}

.table-hover tbody td {
  text-align: center; /* Alineación horizontal al centro */
}

.table-hover tbody tr:hover {
  background-color: #e2f5fd; /* Color de fondo al pasar el mouse */
}

/* Estilos para los botones dentro de la tabla */
.table-hover button.btn {
  margin-right: 5px; /* Espacio a la derecha del botón */
}

.fa-eye {
  color: #2ecc71;
  display: flex; /* Convertir el contenedor en un flex container */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.header-container {
  display: flex; /* Usamos flexbox para alinear los elementos horizontalmente */
  justify-content: space-between; /* Espacio entre el título y la paginación */
  align-items: center; /* Alinea verticalmente al centro */
  margin-top: 0 !important; /* Márgenes alrededor del contenedor */
  margin-bottom: 10px;
  padding: 2px 0; /* Añade un poco de padding para el espaciado */

}

.title {
  font-size: 33px; /* Tamaño de fuente del título */
 /* Negrita para el título */
  color: #02a9c6; /* Color del texto */
  margin: 0; /* Elimina márgenes predeterminados */
}


.card {
  margin-bottom: 0;
  padding: 8px;
  box-shadow: 0 1px 15px -1px rgba(0, 0, 0, 0.37);
}

/* Nueva clase para los cuadros de filtros */
.filters-card {
  padding: 20px;
}

.filters-header {
  background-color: #04a1bd;/* Color de fondo azul */
  color: white; /* Texto en color blanco */
  padding: 10px;
  margin-bottom: 15px;
  width: 100%; /* Ocupa todo el ancho */
  border-radius: 5px 5px 0 0; /* Borde superior redondeado */
}

.filters-title {
  font-size: 2rem; /* Tamaño aumentado */
  margin: 0;
}

.filters-body .input-group {
  margin-bottom: 15px;
}

.filters-body .input-group .form-control {
  flex: 1;
}

/* Ajustes para el diseño de la tabla */
.table-card {
  padding: 20px;
}

/* Ajustes para el diseño del contenido */
.content {
  padding: 10px; /* Agrega un espacio entre el contenido y el borde */
}

/* Añadir margen alrededor del contenido */
.content-container {
  margin-left: 20px; /* Espacio a la izquierda del contenido */
  margin-right: 20px; /* Espacio a la derecha del contenido */
}

.btn-small {
  padding: 5px 10px; /* Reduce el padding para que el botón sea más pequeño */
  font-size: 1rem; /* Aumenta el tamaño del texto en el botón */
}

.btn-large {
  padding: 10px 20px; /* Aumenta el padding para que el botón sea más grande */
  font-size: 1rem; /* Aumenta el tamaño del texto en el botón */
  white-space: nowrap; /* Evita que el texto se desborde */
}

.custom-input-group .btn {
  flex: none; /* No permite que los botones crezcan o se encojan */
  margin-left: 10px; /* Agrega un margen a la izquierda para separar de otros elementos */
}

.filters-body .row {
  margin-bottom: 10px;
}

.filters-body .row:first-of-type {
  margin-top: 20px; /* Espacio extra entre el título y la primera fila */
}

.filters-body .row + .row {
  margin-top: 20px; /* Espacio extra entre la primera y la segunda fila */
}

.filters-body .row .col-md-3 {
  padding-right: 10px;
  padding-left: 10px; /* Agrega padding a la izquierda */
}

.filters-body .row .col-md-3:last-child {
  padding-right: 10px; /* Asegura padding a la derecha */
}

.filters-body .row .btn {
  width: 100%;
  height: 100%; /* Asegura que todos los botones tengan la misma altura */
}

/* Estilos actualizados para la altura de los inputs y botones */
.filters-body .form-control, .filters-body .btn {
  height: 45px; /* Ajusta la altura según tu preferencia */
}

/* Estilo de color para botones y encabezados */
.btn-primary, .table-hover thead tr, .filters-header {
  background-color: #04a1bd; /* Color de fondo azul */
  color: white; /* Texto en color blanco */
}

.btn-secondary {
  background-color: #6c757d; /* Color de fondo secundario */
  color: white; /* Texto en color blanco */
}

/* Ajustar margen a la columna del menú */
.menu-column {
  padding-right: 0;
  width: 250px; /* Ancho del menú */
  
}


.content-column {
  padding-left: 0; /* Eliminar cualquier relleno en el lado izquierdo */
}

/* Ajustar el ancho del contenido para ocupar el espacio restante */
@media (min-width: 992px) {
  .content-column {
    width: calc(100% - 250px); /* Restar el ancho del menú al 100% */
  }
}

/* Ocultar scroll pero permitir desplazamiento en toda la ventana */
body {
  overflow: hidden; /* Ocultar el scroll visualmente */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

body::before::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.container-fluid {
  height: 100vh; /* Asegurar que el contenedor ocupe toda la altura de la ventana */
  overflow-y: auto; /* Permitir el desplazamiento dentro del contenedor */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  background: #e2f1fd;
}

.container-fluid::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

h6{
  color: #04a1bd;
  margin-left: 8px;
}


@media screen and (max-width: 768px) {
  .menu-column {
      width: 80px; /* Ancho reducido del menú */
  }

  .content-column {
      margin-left: 80px; /* Ancho del menú reducido */
      margin-right: 0; /* Elimina el espacio adicional a la derecha del contenido */
      width: calc(100% - 80px); /* Ajusta el ancho del contenido */
  }
}