<div class="dialog-container">
  <h2>Editar Propietario</h2>
  <div class="title-underline"></div>
  <form [formGroup]="propietarioForm" (ngSubmit)="guardar()">
    <div class="row">
      <div class="col-md-4 d-flex align-items-center justify-content-center flex-column">
        <label for="foto" class="form-label foto-label">Agregar Foto</label>
        <div class="foto-container">
          <img [src]="fotoURL" class="img-fluid perfil-foto" alt="Foto del propietario">
        </div>
        <input id="foto" type="file" (change)="onFileSelected($event)" class="form-control-file">
        <label for="foto" class="btn btn-upload">Subir Foto</label>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input id="nombre" type="text" class="form-control" formControlName="Nombre" required>
        </div>
        <div class="form-group">
          <label for="apellidoPaterno">Apellido Paterno</label>
          <input id="apellidoPaterno" type="text" class="form-control" formControlName="ApellidoPaterno" required>
        </div>
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input id="direccion" type="text" class="form-control" formControlName="Direccion">
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input id="telefono" type="text" class="form-control" formControlName="Telefono">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="segundoNombre">Segundo Nombre</label>
          <input id="segundoNombre" type="text" class="form-control" formControlName="SegundoNombre">
        </div>
        <div class="form-group">
          <label for="apellidoMaterno">Apellido Materno</label>
          <input id="apellidoMaterno" type="text" class="form-control" formControlName="ApellidoMaterno" required>
        </div>
        <div class="form-group">
          <label for="correo">Correo Electrónico</label>
          <input id="correo" type="email" class="form-control" formControlName="CorreoElectronico">
        </div>
        <div class="form-group">
          <label for="dni">DNI</label>
          <input id="dni" type="text" class="form-control" formControlName="DNI">
        </div>
      </div>
    </div>
    <div class="btn-container">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="dialogRef.close()">Cancelar</button>
    </div>
  </form>
</div>
