<div class="mat-dialog-content dialog-container">
  <h2>Registrar Nueva Vacunación</h2>
  <div mat-dialog-content>
    <form [formGroup]="vacunacionForm" (ngSubmit)="submit()" class="dialog-form">
      <div class="row">
        <div class="col-md-6 d-flex flex-column">
          <div class="form-group">
            <label for="fecha_aplicacion">Fecha de Aplicación <span class="text-danger">*</span></label>
            <input type="datetime-local" id="fecha_aplicacion" formControlName="fecha_aplicacion" class="form-control" [ngClass]="{'is-invalid': vacunacionForm.get('fecha_aplicacion')?.invalid && vacunacionForm.get('fecha_aplicacion')?.touched}" required>
          </div>
          <div class="form-group">
            <label for="peso">Peso (kg) <span class="text-danger">*</span></label>
            <input type="number" id="peso" formControlName="peso" class="form-control" [ngClass]="{'is-invalid': vacunacionForm.get('peso')?.invalid && vacunacionForm.get('peso')?.touched}" required>
          </div>
          <div class="form-group">
            <label for="frecuencia_cardiaca">Frecuencia Cardíaca (ppm)</label>
            <input type="number" id="frecuencia_cardiaca" formControlName="frecuencia_cardiaca" class="form-control">
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column">
          <div class="form-group">
            <label for="frecuencia_respiratoria">Frecuencia Respiratoria (rpm) </label>
            <input type="number" id="frecuencia_respiratoria" formControlName="frecuencia_respiratoria" class="form-control">
          </div>
          <div class="form-group">
            <label for="temperatura">Temperatura (°C) <span class="text-danger">*</span></label>
            <input type="number" id="temperatura" formControlName="temperatura" class="form-control" [ngClass]="{'is-invalid': vacunacionForm.get('temperatura')?.invalid && vacunacionForm.get('temperatura')?.touched}" required>
          </div>
          <div class="form-group">
            <label for="recordatorio">Recordatorio</label>
            <div class="form-check">
              <input type="radio" id="recordatorioSi" formControlName="recordatorio" class="form-check-input" [value]="true">
              <label class="form-check-label" for="recordatorioSi">Sí</label>
            </div>
            <div class="form-check">
              <input type="radio" id="recordatorioNo" formControlName="recordatorio" class="form-check-input" [value]="false">
              <label class="form-check-label" for="recordatorioNo">No</label>
            </div>
          </div>
          <div class="form-group" *ngIf="vacunacionForm.get('recordatorio')?.value">
            <label for="fecha_proxima_visita">Fecha de Próxima Visita</label>
            <input type="date" id="fecha_proxima_visita" formControlName="fecha_proxima_visita" class="form-control">
          </div>
        </div>
      </div>

      <div formArrayName="medicamentos">
        <hr>
        <h3>Medicamentos</h3>
        <hr>
        <div *ngFor="let medicamento of medicamentosArray.controls; let i = index" [formGroupName]="i" class="form-group">
          <div class="row">
            <div class="col-md-4 d-flex flex-column">
              <div class="form-group">
                <label for="medicamento_id">Medicamento <span class="text-danger">*</span></label>
                <select id="medicamento_id" formControlName="medicamento_id" class="form-control" [ngClass]="{'is-invalid': medicamento.get('medicamento_id')?.invalid && medicamento.get('medicamento_id')?.touched}" required>
                  <option *ngFor="let medicamento of medicamentos" [value]="medicamento.id">{{ medicamento.nombre }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 d-flex flex-column">
              <div class="form-group">
                <label for="dosis">Dosis <span class="text-danger">*</span></label>
                <input type="text" id="dosis" formControlName="dosis" class="form-control" [ngClass]="{'is-invalid': medicamento.get('dosis')?.invalid && medicamento.get('dosis')?.touched}" required>
              </div>
            </div>
            <div class="col-md-4 d-flex flex-column">
              <div class="form-group">
                <label for="lote">Lote <span class="text-danger">*</span></label>
                <input type="text" id="lote" formControlName="lote" class="form-control" [ngClass]="{'is-invalid': medicamento.get('lote')?.invalid && medicamento.get('lote')?.touched}" required>
              </div>
              <div class="btn-acciones d-md-flex justify-content-md-end">
                <button type="button" (click)="removeMedicamento(i)" class="btn btn-danger" *ngIf="medicamentosArray.length > 1">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-acciones d-md-flex justify-content-md-end">
        <button type="button" (click)="addMedicamento()" class="btn btn-secondary">Agregar Medicamento</button>
      </div>
      <div class="btn-container">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
      </div>
    </form>
  </div>
</div>
