.dialog-container {
  margin: 30px ; /* Margen externo para centrar el contenedor */
  max-height: 100vh; /* Establece la altura máxima en el 80% del tamaño de la ventana */
overflow-y: auto; /* Habilita el desplazamiento vertical cuando el contenido excede la altura máxima */

}
.form-container{
  margin: 20px;
}


h2 {
  text-align: center; /* Color para el título */
}

.form-group {
  margin-bottom: 20px; /* Margen inferior para cada grupo de formulario */
}

.form-control {
  margin-bottom: 10px; /* Margen inferior para cada control de formulario */
}

.btn-container {
  text-align: center; /* Centrar los botones */
}

.btn-primary {
  margin: 10px; /* Margen para el botón */
  background-color: #2ecc71; /* Color para el botón Agregar */
  border-color: #2ecc71; /* Color del borde para el botón Agregar */
  color: #fff; /* Color del texto para el botón Cancelar */
}

.btn-secondary {
  margin: 10px; /* Margen para el botón */
  background-color: #0385a5; /* Color para el botón Cancelar */
  border-color: #0385a5; /* Color del borde para el botón Cancelar */
  color: #fff; /* Color del texto para el botón Cancelar */
}

.form-inline {
  display: flex;
  flex-wrap: nowrap; /* Evita el salto de línea */
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  overflow-y: hidden; /* Oculta el scroll vertical */
  -webkit-overflow-scrolling: touch; /* Desplazamiento suave en dispositivos iOS */
}